<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome}}</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>


    <h1>BATATA DOCE</h1>
    <a href="/contato">Contato batatas </a>
    <table id="tabela-avaliacao">
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>Nota</th>
               

            </tr>
        </thead>
        <tbody>
            {%for a in lista %}
            <tr>
                <td>{{a.data}}</td>
                <td>{{a.nome}}</td>
                <td>{{a.nota}}</td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>