<html>
    <head>
        <title>{{nome}}</title>
        <link rel="stylesheet" href="../static/css/estilo.css">
    </head>

    <body>
        <h1>Ola joelma do calipso</h1>
        <a href="/contato">Contato para shows </a>
        <table id="tabela-alunos"> 
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Usuario</th>
                    <th>Senha</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for a in lista %}
                <tr>
                    <td>{{a.nome}}</td>
                    <td>{{a.sobrenome}}</td>
                    <td>{{a.usuario}}</td>
                    <td>{{a.senha}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- {%for a in lista%}
            <p>{{a}}</p>
        {% endfor %} -->
    </body>
</html>