<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome}}</title>
</head>
<body>
    <form action ='/salvar'>
        <label for="nome">Nome:</label> <!--label da nome antes dos box -->
       <input type='text' name = 'nome' id='nome'><br>   <!--<br> pula linha -->

        <label for="nome">Tipo:</label>
        <input type='text' name = 'nome' id='tipo' placeholder="tipo"><br> <!--placeholder escreve dentro do box -->

        <label for="nome">Teor:</label>
        <input type='text' name = 'nome' id='teor'><br> 

        <input type='submit' value = 'cadastrar'>
     </form>
</body>
</html>